# ===========================
# Environment Variables and unnecessary files to be ignored by Git
# ===========================

.env/
venv/

__pycache__/
*.py[cod]
*$py.class

#storage
backend/storage/documents/

#Env files
.env

