# ===========================
# Environment Variables and unnecessary files to be ignored by Git
# ===========================

.env
venv/
app/__pycache__/
app/auth/__pycache__/
app/database/__pycache__/
app/chunking/__pycache__/
app/documents/__pycache__/
app/storage/__pycache__/
app/parsers/__pycache__/
storage/documents/